                * {
                    margin: 0;
                    padding: 0;
                }
                
                body {
                    background: #ff00cc;
                    /* fallback for old browsers */
                    background: -webkit-linear-gradient(to right, #333399, #ff00cc);
                    /* Chrome 10-25, Safari 5.1-6 */
                    background: linear-gradient(to right, #333399, #ff00cc);
                    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                    font-family: verdana;
                }
                .contador {
                    display: block;
                    width: 180px;
            }
                
                .btn-floating {
                    background-color: #3b5998;
                }
                
                .container {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    height: 100vh;
                    width: 100%;
                    background: inherit;
                    margin: auto;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    height: 100%;
                }
.container-pelis
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 16px;
}
                .superior {
                    background: inherit;
                    display: block;
                    overflow: hidden;
                }
                
                .logo img {
                    display: flex;
                    width: 300px;
                    margin-left: 900px;
                    padding: 35px;
                    border: none;
                }
                
                .logo2 img {
                    display: flex;
                    width: 300px;
                    padding: 35px;
                    border: none;
                }
                
                .logo3 {
                    display: flex;
                    width: 300px;
                    padding: 35px;
                }
                
                .menu {
                    display: flex;
                    flex-direction: row;
                    padding: 10px;
                    margin: 10px;
                }
                
                .opciones li {
                    display: inline-flex;
                    flex-direction: row;
                    margin-right: 10px;
                    align-items: flex-start;
                    list-style: none;
                }
                
                .bag-shop {
                    margin-left: 22px;
                    height: fit-content;
                    background-color: #25d366;
                    border-radius: 30px;
                    border: none;
                    text-decoration: none;
                    list-style: none;
                    overflow: hidden;
                    cursor: pointer;
                }
                
                .bag-shop img {
                    margin-left: 22px;
                    height: fit-content;
                    border: none;
                    text-decoration: none;
                    list-style: none;
                    overflow: hidden;
                    cursor: pointer;
                }
                
                .opciones li a {
                    display: flex;
                    flex-direction: row;
                    text-align: left;
                    color: white;
                    padding: 15px;
                    text-decoration: none;
                    border: 1px solid white;
                }
                
                a:visited {
                    text-decoration: none;
                }
                
                .opciones li a:hover {
                    background: #005682;
                }
                
                .cuerpo {
                    width: 50%;
                    align-content: left;
                    display: flex;
                    flex-direction: column;
                    text-align: left;
                }
                
                .caja {
                    display: flex;
                    flex-direction: column;
                    width: 300px;
                    margin: 0 auto;
                    margin-bottom: 30px;
                    margin-top: 30px;
                    margin-right: 69%;
                    align-self: flex-start;
                }
                
                .subtitulo {
                    background: #046fa0;
                }
                
                .servicios {
                    color: red;
                    text-align: center;
                    padding: 20px 0;
                }
                
                .servicios h3 a:hover {
                    outline-style: none;
                    color: red;
                }
                
                .cuerpo h2 {
                    color: rgb(241, 235, 235);
                    font-size: 20px;
                    padding: 5px;
                    margin: 3px;
                }
                
                .cuerpo h3,
                h5 {
                    color: royalblue;
                    font-size: 23px;
                    text-shadow: 3px 3px 5px darkmagenta;
                    text-align: left;
                    font-family: Impact, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, sans-serif, sans-serif;
                    padding: 3px;
                    margin: 5px;
                }
                
                .img-flex {
                    display: flex;
                    flex-direction: column;
                    background-color: slateblue;
                    width: 65%;
                }
                
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border: 2px solid royalblue;
                }
                
                h3 {
                    justify-content: end;
                    margin-bottom: auto;
                }
                
                .container {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    height: 100%;
                }
                
                .main,
                .aside,
                .footer {
                    padding: 20px;
                }
                
                .main {
                    background: slateblue;
                    flex-basis: 300px;
                    flex-grow: 2;
                    flex-shrink: 0;
                }
                
                .aside {
                    background: royalblue;
                    color: rgba(12, 11, 12, 0.336);
                    font-size: 23px;
                    text-shadow: 3px 3px 5px rgba(27, 122, 247, 0.945);
                    text-align: left;
                    font-family: Impact, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, sans-serif, sans-serif;
                    padding: 3px;
                    margin: 5px;
                }
                
                .footer {
                    background: violet;
                    flex-grow: 1;
                }
                
                .container {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                }
                
                .img-thumbnail {
                    width: 150px;
                    height: 88px;
                }
                
                   
    

                /*Boton de whatssap*/
                
                .float {
                    position: fixed;
                    width: 60px;
                    height: 60px;
                    bottom: 40px;
                    right: 40px;
                    background-color: #25d366;
                    color: #FFF;
                    border-radius: 50px;
                    text-align: center;
                    font-size: 30px;
                    box-shadow: 2px 2px 3px #999;
                    z-index: 100;
                }
                
                .float:hover {
                    text-decoration: none;
                    color: #25d366;
                    background-color: #fff;
                }
                
                .my-float {
                    margin-top: 16px;
                }

                /*Boton de peliculas*/
                
                .float-pelis {
                    position: fixed;
                    width: 60px;
                    height: 60px;
                    bottom: 40px;
                    left:  40px;
                    background-color: #1b37d6;
                    color: #FFF;
                    border-radius: 50px;
                    text-align: center;
                    font-size: 30px;
                    box-shadow: 2px 2px 3px #999;
                    z-index: 100;
                }
                
                .float-pelis:hover {
                    text-decoration: none;
                    color: #e40725;
                    background-color: #fff;
                }
                
                .my-float-pelis {
                    margin-top: 16px;
                }
                
                @media only screen and (max-width: 576px) {
                    .container-fluid {
                    overflow-x: hidden;
                    max-width: fit-content;
                    }
                    #reproducir {
                    width: 350px;
                }
                    div {
                        display: block;
                        width: 355px;
                        max-width: auto;
                    }
                    .superior {
                        background: inherit;
                        display: block;
                        overflow: hidden;
                    }
                    .padd {
                        display: block;
                        width: 150%;
                        height: 150%;
                        max-width: auto;
                        margin-left: 62.5px;
                        padding: calc(20px - 2.5px);
                        padding-left: 10px;
                    }
                   
                    .logo {
                        display: flex;
                        margin-left: 57px;
                        width: 150px;
                        height: 150px;
                        padding: 15px;
                        border: hidden;
                        transition-property: translateX(105px);
                        transition-duration: 3s;
                    }
                    .logo:hover {
                        transform: translateX(150px);
                    }
                    .logo2 {
                        display: flex;
                        transform: translate(150px);
                        width: 150px;
                        height: 150px;
                        padding: 15px;
                        border: hidden;
                        transition-property: translateX(0);
                        transition-duration: 3s;
                    }
                    .logo2:hover {
                        transform: translateX(-182px);
                    }
                    .logo3 {
                        display: flex;
                        transform: translate();
                        width: 350px;
                        height: 150px;
                        padding: 15px;
                        border: hidden;
                        transition-property: translateX(0);
                        transition-duration: 3s;
                    }
                    .logo3:hover {
                        transform: translateY(-155px);
                    }
                    .menu {
                        display: inline-block;
                        margin: auto;
                    }
                    .opciones li {
                        display: block;
                        margin: auto;
                        align-content: space-around;
                        flex-direction: column;
                        flex-wrap: wrap;
                        margin-right: 5px;
                        text-align: left;
                        width: 100%;
                    }
                    .opciones,
                    .bag-shop li a {
                        display: block;
                        margin: auto;
                        align-content: flex-start;
                        text-align: left;
                        color: white;
                        padding: 15px;
                        text-decoration: none;
                        border: none;
                    }
                    .bag-shop {
                        margin-top: 10px;
                    }
                    .slider {
                        width: 0 auto;
                        align-self: start;
                    }
                  
                }
                    /* .slider video {
        width: 100%;
    } */
                    .cuerpo h2,
                    h1 {
                        color: azure;
                        font-size: 15px;
                        padding: 5px;
                        margin: 3px;
                        font-weight: 800;
                    }
                    .cuerpo h3,
                    h5 {
                        display: grid;
                        text-align: left;
                        color: #4488ee;
                        text-shadow: 1px 1px 2px rgb(49, 4, 121);
                        text-align: left;
                        font-family: Impact, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, sans-serif, sans-serif;
                        font-size: 14px;
                        padding: 5px;
                        margin: 3px;
                    }
                
                
                @media screen and (min-width: 900px) {
                    .content {
                        display: grid;
                        grid-template-rows: 80px 1fr 1fr 1fr 1fr 80px;
                        grid-template-columns: repeat(3, 1fr);
                    }
                    .contenido {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-evenly;
                        gap: 25px;
                        width: 100%;
                        height: 100%;
                    }
                    .img-block {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-evenly;
                    }
                    .padd {
                        margin-left: 0px;
                    }
                    .header {
                        grid-column: 1 / span 3;
                    }
                    .main {
                        grid-row: 2 / span 6;
                        grid-column: 1 / span 2;
                    }
                    .aside {
                        grid-row: 2 / 6;
                    }
                    .footer {
                        grid-row: 6 / 7;
                        grid-column: 1 / span 3;
                    }
                }
                /*tablets*/
                
                @media (min-width: 768px) {
                    .padd {
                        display: block;
                        width: 100%;
                        height: 100%;
                        max-width: auto;
                        margin-left: 39.5px;
                    }
                    .contenido {
                        display: block;
                        padding-left: 100px;
                        padding: calc(20px - 2.5px);
                        padding-left: 10px;
                    }
                    .padd {
                        margin-left: 0px;
                    }
                    .contador {
                        display: block;
                        width: 180px;
                }
            }